a {
  text-decoration: none;
  color: inherit;
}

header {
  background: #cc0000;
}

body {
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

/* VIEW POKEMON */
.pokemon {
  display: grid;
  grid-gap: 20px;
  grid: auto / repeat(3, 1fr);
}

.pokemon > a:nth-child(1) {
  grid-area: 1 / 1 / 1 / -1;
}

.pokemon .pokemon-card {
  display: grid;
  grid: auto / repeat(8, 1fr);
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(66, 66, 66, 0.11);
  -moz-box-shadow: 0px 0px 6px 1px rgba(66, 66, 66, 0.11);
  box-shadow: 0px 0px 6px 1px rgba(66, 66, 66, 0.11);
}

/* ALL POKEMONS */
.pokemons {
  display: grid;
  grid-gap: 20px;
  grid: auto / repeat(5, 1fr);
}

.pokemons .pokemon-card {
  display: grid;
  grid: auto / repeat(8, 1fr);
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(66, 66, 66, 0.11);
  -moz-box-shadow: 0px 0px 6px 1px rgba(66, 66, 66, 0.11);
  box-shadow: 0px 0px 6px 1px rgba(66, 66, 66, 0.11);
}

.pokemons .pokemon-card :hover {
  background: #fff;
  box-shadow: 0 0 0 0;
}

.pokemon-card img {
  grid-area: 1 / 1 / -1 / -1;
  justify-self: center;
  width: 80px;
  height: auto;
  margin: 0;
  padding: 0;
}

.pokemon-card .name {
  display: block;
  grid-area: 2 / -1 / 2 / 1;
}

.pokemon-card .number {
  color: #dfdfdf;
  font-weight: 800;
  display: block;
  grid-area: 3 / -1 / 3 / 1;
}

.pokemon-card .type-container {
  grid-area: 4 / -1 / 4 / 1;
}

/* POKEMON TYPE */

.pokemon-card .type,
.pokemon .type {
  font-family: "VT323", monospace;
  border-radius: 3px;
  padding: 0px 3px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  text-shadow: 1px 1px 0px #424242;
}

.type.flying {
  background: #a890f0;
  border-bottom: 1px solid #7765ac;
}
.type.grass {
  background: #78c850;
  border-bottom: 1px solid #558f37;
}
.type.fire {
  background: #e47a2c;
  border-bottom: 1px solid #af5b20;
}
.type.poison {
  background: #a040a0;
  border-bottom: 1px solid #692869;
}
.type.normal {
  background: #a8a878;
  border-bottom: 1px solid #6d6d4d;
}
.type.ground {
  background: #e0c068;
  border-bottom: 1px solid #a38b4a;
}
.type.dark {
  background: #705848;
  border-bottom: 1px solid #42342a;
}
.type.steel {
  background: #b8b8d0;
  border-bottom: 1px solid #7b7b8d;
}
.type.electric {
  background: #f8d030;
  border-bottom: 1px solid #a0861f;
}
.type.fighting {
  background: #c03028;
  border-bottom: 1px solid #7a1d18;
}
.type.dragon {
  background: #7038f8;
  border-bottom: 1px solid #4e24ad;
}
.type.water {
  background: #6890f0;
  border-bottom: 1px solid #4763a7;
}
.type.rock {
  background: #b8a038;
  border-bottom: 1px solid #756622;
}
.type.bug {
  background: #a8b820;
  border-bottom: 1px solid #707a13;
}
.type.fairy {
  background: #dba3df;
  border-bottom: 1px solid #936d96;
}
.type.ice {
  background: #98d8d8;
  border-bottom: 1px solid #5f8a8a;
}
.type.psychic {
  background: #f85888;
  border-bottom: 1px solid #92314e;
}
